# config/olts.yaml   (ejemplo completo)
defaults:
  poll_interval: 300            # 5 min
  prompt: ">"                   # valor genérico; cada OLT puede sobre-escribirlo

olts:

  - id: zyxel1240XA-TEST
    vendor: zyxel1240XA
    host: 201.251.78.101
    port: 18104
    username: admin
    password: 0ltc3pr44
    prompt: "MSC1240XA#"
    poll_interval: 300
    description: "Zyxel 1240XA – TEST"
    slots: ["1", "2", "4", "5", "6"]
    timeout: 120


  - id: zyxel2406-TEST
    vendor: zyxel2406
    host: 201.251.78.101
    port: 18103
    username: admin
    password: f2%C4+f1$d7(
    prompt: "OLT2406#"
    description: "Zyxel 2406– TEST"
    poll_interval: 300
    debug: false
    min_onts: 600
    retry_once: true
    timeout: 120

