# config/olts.yaml   (ejemplo completo)
defaults:
  poll_interval: 300            # 5 min
  prompt: ">"                   # valor genérico; cada OLT puede sobre-escribirlo

olts:


  - id: huawei-TEST
    vendor: huawei
    host: 192.168.88.25
    port: 23
    username: root
    password: admin
    prompt: "MA5603T"
    snmp_ip: 192.168.88.25
    snmp_port: 161
    snmp_community: public
    description: "Huawei – Laboratorio"
    poll_interval: 90
    pon_list:
      - frame: "0"
        slot: 0
        port: 0

  - id: zyxel1408-TEST
    vendor: zyxel1408A
    host: 192.168.88.25
    port: 23
    username: admin
    password: 1234
    prompt: "OLT1408A#"
    description: "Zyxel – TEST"
    poll_interval: 20

  - id: zyxel1240XA-TEST
    vendor: zyxel1240XA
    host: 192.168.88.25
    port: 23
    username: admin
    password: 1234
    prompt: "MSC1240XA#"
    poll_interval: 60
    description: "Zyxel 1240XA – TEST"
    slots: ["1", "2"]

  - id: zyxel2406-TEST
    vendor: zyxel2406
    host: 192.168.88.25
    port: 23
    username: admin
    password: 1234
    prompt: "OLT1408A#"
    description: "Zyxel 2406– TEST"
    poll_interval: 60
